li {
    list-style-type: none;
}
.text-link {
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}
.inner ul, h1 {
    display: flex;
}
input {
    width: 150px;
}
#logout {
    border: none;
    background-color: #fff;
}
#time li {
    list-style-type: none;
}
.isUser {
    text-align: right;
}
.notUser {
    text-align: left;
}
.chatUser {
    display: inline;
}
.Chat2 h3, span {
    display: inline;
    vertical-align: middle;
}
.Chat2 span {
    margin-right: 5px;
    font-size: 10px;
    color: #808080;
}