.top-community {
    margin-top: 100px;
}
.comunity {
    height: 500px;
    width: 100%;
    margin-top: 50px;
    border: 1px solid #000;
    background-color: #333;
}
.Chat {
    vertical-align: middle;
    resize: none;
}
.chat-input {
    width: 80%;
}
.chat-button {
    width: 20%;
}
.users-number {
    color: yellow;
}
@media only screen and (min-width: 768px) {
    .input-community {
        display: flex;
        flex-direction: column;
    }
    .comunity {
        margin: 0 auto;
        width: 90%;
    }
    .chat-container {
        display: flex;
        margin: 0 auto;
        width: 90%;
    }
}