* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  border-style: rgb(194, 187, 187);
}
#header ul {
  display: flex;
}
#header ul li {
  padding: 0 5px;
}
.contentStyle {
  width: 100%;
  height: 150px;
}
/* 메뉴바 */
.no-bar {
  display: none;
}
.bavBar_icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.active-bar {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  background: #e2e0e0;
  opacity: 1;
  transition: opacity 500ms;
}
.hidden-bar {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  background: #e2e0e0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 5000ms , visibility 5000ms;
}
/* // footer */

#main-footer {
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
  background: #454f51;
  color: white;
}
/* 베스트 상품 */
.bestGoodsContainer {
  list-style: none;
  width: 100%;
}
.descriptionBox {
  height: 450px;
}
.bestGoodsItem {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.imgContainer img {
  width: 100%;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  /* 태블릿 CSS */
  .contentStyle {
    width: 100%;
    height: 300px;
  }
  .title-bestgoods {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 10px 0;
  }
  .bestGoodsContainer {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    margin-block-start: 0;
  }
  .BestGoodsItem-right {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 2px 6px #333;
    border-radius: 12px;
    overflow: hidden;
  }
  .BestGoodsItem-left {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 2px 6px #333;
    border-radius: 12px;
    overflow: hid;
  }
  .descriptionBox {
    border: 1px solid purple;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 0 2px 6px #333;
  }
  .itemContainer {
    padding: 1rem;
    width: 70%;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .contentStyle {
    width: 100%;
    height: 400px;
  }
  .no-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navBar_menus {
    margin-right: 50px;
  }
  .navBar_menus li{
    display: inline;
    padding-right: 5px;
  }
  .is-bar {
    display: none;
  }
  .bestGoodsContainer {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    margin-block-start: 0;
  }
  .BestGoodsItem-right {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 2px 6px #333;
    border-radius: 12px;
    overflow: hidden;
  }
  .BestGoodsItem-left {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 2px 6px #333;
    border-radius: 12px;
    overflow: hidden;
  }
  .descriptionBox {
    border: 1px solid purple;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 0 2px 6px #333;
  }
  .itemContainer {
    padding: 1rem;
    width: 70%;
    text-align: center;
  }
}