li {
    list-style-type: none;
}
.nav {
    width: 100%;
}
.text-link {
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}
.petshop {
    margin-left: 5px;
    font-size: 1rem;
}
/* login css */
#login-form {
    box-shadow: 0 2px 6px #333;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    flex-direction: column;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}
.normal_login {
    padding: 0;
}
#signup-form {
    box-shadow: 0 2px 6px #333;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
}
/*----------------------------------------------*/
input {
    width: 150px;
}
#logout {
    border: none;
    background-color: #fff;
}
#time li {
    list-style-type: none;
}
.isUser {
    text-align: right;
}
.notUser {
    text-align: left;
}
.Chat2-user {
    display: flex;
    justify-content: flex-end;
}
.Chat2-not-user {
    display: flex;
    justify-content: flex-start;
}
.chat-border {
    display: inline-block;
    justify-content: flex-end;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgb(226, 234, 162);
}
.chat-border-not-user {
    display: inline-block;
    justify-content: flex-start;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgb(228, 237, 159);
}
.time-is-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 10px;
    color: #808080;
}
.time-not-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 10px;
    color: #808080;
}
/* .time-is-users span:first-child, .time-not-users span:first-child {
    color: yellow;
    font-size: 9px;
} */
.chatUser {
    display: flex;
    white-space: pre-wrap;
    padding: 2px;
    margin: 0;
}
.blank {
    border-color: red;
}
.no_blank {
    border-color: black;
}
.sinup-container {
    display: flex;
    flex-direction: column;
}
.signup {
    margin: 0 auto;
}
.signup input {
    margin-bottom: 10px;
    justify-content: center;
}
.signup li:first-child input {
    margin-top: 30px;
}
#createBtn {
    padding-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#create-user-button {
    width: 30%;
    height: 40px;
}
#usered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
}
#usered p {
    vertical-align: middle;
    font-size: 15px;
    padding-left: 5px;
}
@media only screen and (min-width: 768px) {  
    /* 태블릿 CSS */
    .inner {
      width: 100%;
    }
    .nav {
        width: 100%;
    }
    .text-link {
        font-size: 1.2rem;
    }
    .petshop {
        font-size: 2.5rem;
        margin: 0 0 0 30px;
    }
}